<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CarpgLobby.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <CarpgLobby.Properties.Settings>
      <setting name="ChangeTrackingTime" serializeAs="String">
        <value>00:01:00</value>
      </setting>
      <setting name="ApiUrl" serializeAs="String">
        <value>http://localhost:8080</value>
      </setting>
      <setting name="LogLevel" serializeAs="String">
        <value>Verbose</value>
      </setting>
      <setting name="ProxyPort" serializeAs="String">
        <value>60481</value>
      </setting>
      <setting name="ProxyPlayers" serializeAs="String">
        <value>256</value>
      </setting>
      <setting name="ApiKey" serializeAs="String">
        <value>123456</value>
      </setting>
      <setting name="FtpHost" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FtpLogin" serializeAs="String">
        <value>login</value>
      </setting>
      <setting name="FtpPassword" serializeAs="String">
        <value>123456</value>
      </setting>
    </CarpgLobby.Properties.Settings>
  </userSettings>
</configuration>